html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

i {
  vertical-align: middle;
}

.material-icons {
  user-select: none;
}

button {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

button.control {
  border: 1px solid black;
  width: 32px;
  height: 31px;
}

.settings {
  position: absolute;
  right: 10px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.settings > * {
  margin: 5px;
}

button.refresh {
  border: 1px solid black;
  text-align: center;
}

#rewind-time {
  width: 4em;
}

button:hover {
  background-color: rgb(230, 228, 228);
}

button:active {
  background-color: rgb(199, 199, 199);
  box-shadow: inset 1px 1px black;
}

button:active i {
  transform: translate(1px, 1px);
}

.material-icons {
  font-size: 20px;
}

.movable {
  position: absolute;
}

.spacer {
  border-top: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
  flex-grow: 1;
  margin-left: -1px;
}

.stream-id {
  vertical-align: middle;
  font-size: 10px;
  font-weight: lighter;
  margin-left: 2em;
  margin-top: 0.6em;
}

.stream-name {
  user-select: none;
  padding: 10px;
}

.moving .stream-header {
  cursor: move;
}

.stream-header {
  display: flex;
  height: 32px;
  align-items: center;
  background: white;
  width: 100%;
  border-bottom: 1px solid black;
}

.stream-header button {
  border-bottom: 0;
}

.stream-header button.punched {
  height: 32px;
  border-bottom: 1px solid white;
}

.stream-header span {
  border-top: 1px solid black;
  height: 32px;
  line-height: 0.7;
}

.stream-details {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  min-width: 100%;
}

.stream-details > .node {
  border: 0;
}

.stream {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family:'Roboto Mono', monospace;
  max-width: 500px;
}

h1 {
  font-size: larger;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: medium;
  margin: 0;
}

div {
  border-width: 0px;
}

.node {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.left-right {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left-right .separator {
  margin: 10px;
  display: flex;
  align-items: center;
}

.top-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: none;
}

.implementation {
  color: gray;
}

.implementation div {
  border-color: gray;
  border-style: dashed;
}

ul {
  padding-left: 1em;
  margin: 0.5em;
  list-style: none;
}

div > ul.tree {
  width: 250px;
  margin-left: 3em;
}

ul.tree > li {
  border: 1px solid black;
  padding: 6px;
}

.envelope-toolbar {
  display: flex;
  height: 32px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.needs-better-name {
  line-height: 0.7;
  padding: 10px;
}