html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 2fr 2fr;
  grid-template-rows: 40px 1fr 1fr;
  grid-gap: 1px;
  background-color: black;
}

.layout > div {
  background-color: white;
}

.menu {
  grid-row: 1;
  grid-column: 1;
}

.menu > button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  grid-row: 1;
  grid-column: 2;
}

.search > input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1em;
}

.resources {
  grid-row: 2 / 4;
  grid-column: 2;
  height: 100%;
  overflow: auto;
}

.resource-list > li.focused {
  background-color: #eee;
}

.resources ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  grid-row: 1;
  grid-column: 3;
  padding: 0.5em;
  padding-left: 1em;
  font-family: 'Roboto Mono', monospace;
}

.title-module {
  font-size: x-small;
}

.volume {
  grid-row: 2 / 4;
  grid-column: 1;
}

.details {
  grid-row: 2 / 4;
  grid-column: 3;
  word-wrap: anywhere;
}

.project {
  grid-row: 1;
  grid-column: 4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.editor {
  grid-row: 2 / 3;
  grid-column: 4;
}

.editor > textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.repl {
  grid-row: 3;
  grid-column: 4;
}

.repl > textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.flex-spacer {
  flex-grow: 1;
}

.resource-details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resource-controls {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 32px;
  align-items: center;
}

.resource-control {
  border-left: 1px solid black;
  width: 32px;
  height: 31px;
}

.resource-control.punched {
  height: 32px;
  border-bottom: 1px solid white;
}

.resource-content {
  padding: 0.5em;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}

.resource-list > li:first-child {
  box-shadow: inset 0 5px 3px -3px gray;
}

.resource-list > li:last-child {
  box-shadow: inset 0 -4px 3px -3px gray;
}

.resource-list > li {
  display: flex;
  justify-content: space-between;
}

.resource-pane-button {
  height: unset;
}

.resource-name {
  font-family:'Roboto Mono', monospace;
}

.signature {
  font-size: medium;
  font-weight: lighter;
}

.envelope-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

/* Old stuff: */

.App {
  text-align: center;
}

i {
  vertical-align: middle;
}

.material-icons {
  user-select: none;
}

button {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

button.control {
  border: 1px solid black;
  width: 32px;
  height: 31px;
}

.settings {
  position: absolute;
  right: 10px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.settings > * {
  margin: 5px;
}

button.refresh {
  border: 1px solid black;
  text-align: center;
}

#rewind-time {
  width: 4em;
}

button:hover {
  background-color: rgb(230, 228, 228);
}

button:active {
  background-color: rgb(199, 199, 199);
  box-shadow: inset 1px 1px black;
}

button:active i {
  transform: translate(1px, 1px);
}

.material-icons {
  font-size: 20px;
}

.old-spacer {
  border-top: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
  flex-grow: 1;
  margin-left: -1px;
}

.stream-id {
  vertical-align: middle;
  font-size: 10px;
  font-weight: lighter;
  margin-left: 2em;
  margin-top: 0.6em;
}

.stream-name {
  user-select: none;
  padding: 10px;
}

.moving .stream-header {
  cursor: move;
}

.stream-header {
  display: flex;
  height: 32px;
  align-items: center;
  background: white;
  width: 100%;
  border-bottom: 1px solid black;
}

.stream-header button {
  border-bottom: 0;
}

.stream-header button.punched {
  height: 32px;
  border-bottom: 1px solid white;
}

.stream-header span {
  border-top: 1px solid black;
  height: 32px;
  line-height: 0.7;
}

.stream-details {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  min-width: 100%;
}

.stream-details > .node {
  border: 0;
}

.stream {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family:'Roboto Mono', monospace;
  max-width: 500px;
}

h1 {
  font-size: larger;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: medium;
  margin: 0;
}

.node {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}

.left-right {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left-right .separator {
  margin: 10px;
  display: flex;
  align-items: center;
}

.top-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.old-details {
  display: none;
}

.implementation {
  color: gray;
}

.implementation div {
  border-color: gray;
  border-style: dashed;
}

ul.parameter-list {
  padding-left: 1em;
  margin: 0.5em;
  list-style: none;
}

.resource-pane {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin-left: 3em;
  width: 250px;
  border: 1px solid black;
}

.resource-pane > input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 0.5em;
  margin: 0;
}

.module-toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0;
}

.module-name, .resource-name {
  display: inline-block;
  padding: 0.2em;
}

.resource-pane ul {
  margin: 0;
  padding: 0;
}

.resource-pane li {
  padding: 0;
  white-space: nowrap;
}

.module-list {
  overflow: auto;
}

ul.resource-list > li {
  border-bottom: 1px solid black;
}

.envelope-toolbar {
  display: flex;
  height: 32px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.needs-better-name {
  line-height: 0.7;
  padding: 10px;
}

textarea.speech {
  width: 100%;
}