backcall==0.2.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
docutils==0.16
greenlet==0.4.13
idna==2.10
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
matplotlib==3.3.2
MIDIUtil==1.2.1
mido==1.2.9
numpy==1.19.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-rtmidi==1.4.7
pyzmq==19.0.2
readline==6.2.4.1
requests==2.24.0
six==1.15.0
sounddevice==0.4.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
websockets==8.1
