html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.movable {
  position: absolute;
}

.moving .widget-header {
  cursor: move;
}

.widget-header {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  border-bottom: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.widget {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family:'Roboto Mono', monospace;
  max-width: 500px;
  background: white;
}

h1 {
  font-size: larger;
  margin: 0;
  margin-bottom: 5px;
}
